<%- include('../partials/header') %>

<h1>player main page</h1>

<section>
    <div>
        Player: <img src="<%= user.avatar %>" alt="player avatar" class="avatar">
    </div>
    <div>
        Name: <%= user.name %>
    </div>
    <div>
        Favourite Team: <%= user.favTeam %>
    </div>
    <div>
        Favourite Position: <%= user.favPosition %>
    </div>
    <% if(user.isLeader) { %>
    <div>
        Title: Manager of <%= team.name %>
    </div>
    <% }; %>
    <a href="/players/edit">Edit Info</a>

    <% if(user.teamId) { %>
    <hr>
    <div>
             <a href="/teams/show">Team Name: <%= team.name %></a>
            <br>
            Team Manager: <%= team.leader %>
            <br>
            Found Date: <%= team.foundDate %>
            <br>
            
            <form action="/players/leave?_method=PUT" method="POST">
                <button type="submit">Leave Team</button>
            </form>
    </div>

    <% }else{ %>
        <div>
            <a href="#">Go Get a Team</a>
        </div>

    <% }; %>

</section>


<%- include('../partials/footer') %>

