<%- include('../partials/header') %>

<h1>player main page</h1>

<section>
    <div>
        Player: <img src="<%= player.avatar %>" alt="player avatar" class="avatar">
    </div>
    <div>
        Name: <%= player.name %>
    </div>
    <div>
        Favourite Team: <%= player.favTeam %>
    </div>
    <div>
        Favourite Position: <%= player.favPosition %>
    </div>
    <% if(player.isLeader) { %>
    <div>
        Title: Manager of <%= team.name %>
    </div>
    <% }; %>
    <% if(player.teamId) { %>
    <div>
        Team: <a href="/players/<%= player.id %>"><%= team.name %></a>
    </div>
    <% }else{; %>
        <a href="/players/new">Create Team</a>
    <% }; %>
</section>

<%- include('../partials/footer') %>

