<%- include('../partials/header') %>

Team Name: <%= team.name %>
<br>
Team Manager: <%= team.leader %>
<br>
Teammates: 
<% team.players.forEach((p)=>{ %>
    <%= p.name %>,
<% }) %>
<br>
Found Date: <%= team.foundDate %>
<br>

<form action="/players/leave?_method=PUT" method="POST">
    <button type="submit">Leave Team</button>
</form>

<%- include('../partials/footer') %>
