<%- include('../partials/header') %>




<main class="profile-main">
    <div class="profile-edit">
        <h1>Profile</h1>
        <button>
                <a href="/members/<%= user.id %>/edit">Edit Info</a>
        </button>
    </div>
<div class="profile-part2">
    <section>
        <div>
            <span>Name :</span> <%= user.name %>
        </div>
        <div>
            <span>Email :</span> <%= user.email %>
        </div>
        <div>
            <span>Favourite Team :</span> <%= user.favTeam %>
        </div>
        <div>
            <span>Favourite Position :</span> <%= user.favPosition %>
        </div>
    </section>
    <section>
            <img src="<%= user.avatar %>" alt="player avatar" class="profile-avatar">
    </section>
</div>
</main>


<%- include('../partials/footer') %>

