<%- include('../partials/header') %>




<main class="profile-main">
    <div class="profile-edit">
        <button>
                <a href="/members/<%= user.id %>/edit">Edit Info</a>
        </button>
    </div>

    <section>
        <div>
            <img src="<%= user.avatar %>" alt="player avatar" class="profile-avatar">
        </div>
        <div>
            Name: <%= user.name %>
        </div>
        <div>
            Email: <%= user.email %>
        </div>
        <div>
            Favourite Team: <%= user.favTeam %>
        </div>
        <div>
            Favourite Position: <%= user.favPosition %>
        </div>
    </section>
</main>


<%- include('../partials/footer') %>

