<%- include('../partials/header') %>

<h1>player main page</h1>

<section>
    <div>
        Player: <img src="<%= user.avatar %>" alt="player avatar" class="avatar">
    </div>
    <div>
        Name: <%= user.name %>
    </div>
    <div>
        Favourite Team: <%= user.favTeam %>
    </div>
    <div>
        Favourite Position: <%= user.favPosition %>
    </div>
    <a href="/members/<%= user.id %>/edit">Edit Info</a>

</section>


<%- include('../partials/footer') %>

