<%- include('../partials/header') %>

<h1>announcement page</h1>

<h1>Team: <%= team.name %></h1>
<h2>Title: <%= post.title %></h2>
<h4>Time: <%= post.time %></h4>
<p><%= post.content %></p>



<h3>comments:</h3>


<%- include('../partials/footer') %>
