<%- include('../partials/header') %>

<h1>announcement page</h1>

<h1>Team: <%= team.name %></h1>
<h2>Title: <%= post.title %></h2>
<h4>Time: <%= post.time %></h4>
<p><%= post.content %></p>

<a href="/teams/<%= team.id %>">Back</a>

<h2>Input:</h2>
<form action="/teams/comments/<%= post.id %>" method="POST">
    <input type="text" name="text">
    <input type="submit" value="Submit">
</form>

    <h3>comments:</h3>
    <% post.comments.forEach((c)=>{ %>
    <table>
        <thead>
            <th>Time: </th>
            <th>By: </th>
        </thead>
        <tbody>
            <tr>
                <td>At <%= c.time %></td>
                <td>By <%= c.author %></td>
            </tr>
            <tr>
                <td><%= c.text %></td>
            </tr>
        </tbody>
    </table>
    <% }) %>


<%- include('../partials/footer') %>
