<%- include('../partials/header') %>

<h1>team main page</h1>

<% teams.forEach((team)=>{ %>
    Name: <%= team.name %>
    <br>
    Found Date: <%= team.foundDate %>
    <br>
    Manager: <%= team.leader %>
    <br>
    Members: 
    <% team.players.forEach((p)=>{ %>
        <span><%= p.name %></span>,
    <% }) %>
    <br>
<% }) %>


<%- include('../partials/footer') %>
