<%- include('../partials/header') %>

<% if(!user.teamId){ %>
<a href="/teams/new">Create Team</a>
<% }; %>

<% teams.forEach((team)=>{ %>
    <div>
        name: <%= team.name %>
        leader: <%= team.leader %>
        found date: <%= team.foundDate %>

        <% if(!user.teamId){ %>
            <a href="#">Join</a>
        <% } %>
    </div>
    
<% })%>

<%- include('../partials/footer') %>
