<%- include('../partials/header') %>

<% if(!user.teamId){ %>
<a href="/teams/new">Create Team</a>
<% }; %>

<% teams.forEach((team)=>{ %>
    <div>
        name: <%= team.name %>
        leader: <%= team.leader %>
        found date: <%= team.foundDate %>

        <% if(!user.teamId){ %>
            <form action="/players/join?_method=PUT" method="POST">
                <input type="text" name="teamId" value="<%= team.id %>" hidden>
                <input type="submit" value="Join">
            </form>
            <% } %>
    </div>
    
<% })%>

<%- include('../partials/footer') %>
