<%- include('../partials/header') %>

<h1>team main page</h1>

<% teams.forEach((team)=>{ %>
    Name: <%= team.name %>
    <br>
    Found Date: <%= team.foundDate %>
    <br>
    <!-- Players #: <%= team.players.length() %> -->
    <br>
    Manager: pending
    <br>
    <br>
<% }) %>


<%- include('../partials/footer') %>
