<%- include('../partials/header') %>

<%- include('../partials/subNav') %>

<% if(leader) { %>
    <form action="/teams/<%= team.id %>/schedule" method="POST">
        <br>
        Team: <input type="text" name="team">
        Time: <input type="datetime-local" name="time">
        Address: <input type="text" name="address">
        <input type="submit" value="Create">
    </form>
<% }; %>


<ul>
<% team.matches.forEach((match)=>{ %>
    <li><%= match.team %></li>
    <li><%= match.time %></li>
    <li><%= match.address %></li>
<% }) %>
</ul>


<%- include('../partials/footer') %>
