<%- include('../partials/header') %>

<main class="show-team">

<%- include('../partials/subNav') %>



<section>
    <div class="schedule-part1">
        <h1><%= team.name %></h1>
        <h3>Players</h3>
    </div>
    <table id="players">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Picture</th>
            <th></th>
        </tr>
        <% team.players.forEach((p)=>{ %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.favPosition %></td>
                <td><img src="<%= p.avatar %>" alt="player avatar" class="p-avatar"></td>
                <td>
                    <% if(p.isLeader) { %>
                        Leader
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
</section>
</main>

<%- include('../partials/footer') %>
