<%- include('../partials/header') %>

<%- include('../partials/subNav') %>


<% if(leader) { %>

<button>
    <a href="/teams/<%= team.id %>/edit">Edit Description</a>
</button>
<% }; %>



<br>
<section>
    Team Name: <%= team.name %>
    <br>
    Team Found Date: <%= team.foundDate %>
    <br>
    Team Manager: <%= team.leader %>
    <br>
    Team Description: <%= team.description %>
</section>

                

<% if(teammate) { %>

<% } %>

<%- include('../partials/footer') %>
