<%- include('../partials/header') %>

<div class="mx-auto mt-5 container" style="width: 800px;">

        <div class="container">
    
            <div class="row">
                <div class="col-8">  
                    <div class="row">                               
                        <h1>Profile</h1>
                    </div>
                    <div class="row">
                        Team Name: <%= team.name %>
                    </div>
                    <div class="row">
                        Team Found Date: <%= team.foundDate %>
                    </div>
                    <div class="row">
                        Team Manager: <%= team.leader %>
                    </div>
                    <div class="row">
                        Team Description: <%= team.description %>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#editTeamModal">
                            Edit Team Profile
                        </button>
                    </div>
                    <div class="row">
                        
                    </div>
                </div>
                <div class="col-4">
                    <!-- team logo -->
                    <img src="<%= user.avatar %>" alt="player avatar" class="self-avatar">
                </div>
            </div>
    
        </div>
    </div>

    <% if(user.isLeader) { %>

<!-- post -->
    <% if(user.teamId === team.id) { %>
<form action="/teams/announcements/add" method="POST">
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    <input type="submit" value="Create">
</form>

<!-- leave -->
<% if(user.teamId) { %>
    <form action="/players/leave?_method=PUT" method="POST">
        <button type="submit">Leave Team</button>
    </form>
    <% } %>

    <!-- add matches -->
<form action="/teams/matches/add" method="POST">
    With <br>
    Team: <input type="text" name="team">
    Time: <input type="datetime-local" name="time">
    Address: <input type="text" name="address">
    <input type="submit" value="Create">
</form>


<button>
    <a href="/teams/edit">Edit Description</a>
</button>
    <% }; %>
<% }; %>
<button>
    <a href="/teams">Back</a>
</button>
<br>



<br>
Team players
<table>
    <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Picture</th>
        <th></th>
    </thead>
    <tbody>
    <% team.players.forEach((p)=>{ %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.favPosition %></td>
            <td><img src="<%= p.avatar %>" alt="player avatar" class="p-avatar"></td>
            <td>
                <% if(p.isLeader) { %>
                    Leader
                <% } %>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>                

<% if(user.teamId === team.id) { %>
<h3>Team's Announcement:</h3>
<table>
    <thead>
        <th>Title</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <% team.announcements.forEach((post)=>{ %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.time %></td>
            <td><a href="/teams/announcements/<%= post.id %>">Details</a></td>
            <td>
                <% if(user.isLeader) { %>
                <form action="/teams/announcements/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="delete">
                </form>
                <% }; %>
            </td>
        </tr>
        <% }) %>

    </tbody>
</table>

<h3>Team Schedule</h3>
<table>
    <thead>
        <th>Team</th>
        <th>Date</th>
        <th>Address</th>
        <th></th>
    </thead>
    <tbody>
        <% team.matches.forEach((m)=>{ %>
        <tr>
            <td><%= m.team %></td>
            <td><%= m.time %></td>
            <td><%= m.address %></td>
            <td>
                <% if(user.isLeader) { %>
                <form action="/teams/matches/<%= m._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="delete">
                </form>
                <% }; %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<% } %>

<!-- Modal -->
<div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/teams/<%= user.teamId %>?_method=PUT" method="POST">
    
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTeamModalTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    
                    <div class="modal-body">
                        <!-- <div class="col-8">   -->
                            <div class="form-group">
                                <label class="col-form-label">Description</label>
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                            <!-- <div class="row">
                                Favourite Team: <input type="text" name="favTeam">
                            </div>
                            <div class="row">
                                Favourite Position: <input type="text" name="favPosition">
                            </div> -->
                        <!-- </div> -->
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>
