<%- include('../partials/secondP') %>

<main class="news-main">


<% newsData.forEach((news)=>{ %>
    <section class="news">
      <div>
          <h4><a href="<%= news.url %>"><%= news.title %></a></h4>
          <span>Source: <%= news.source.name %>,  By: <%= news.author %>   <%= news.publishedAt %></span>
      </div>
      <div>
          <p><a href="<%= news.url %>"><img src="<%= news.urlToImage %>" alt="image" class="news-img"></a></p>
      </div>

    </section>
  <% }) %>

</main>
 
<%- include('../partials/footer') %>
